<h1>Modifications de l'album</h1>

<div class="contains">
  <div class="col-md-4 cover-image">
    <%=image_tag (@cd.image.url(:large)), :class => 'cover-image' %>
  </div>

  <div class="col-md-8">
    <%= render 'form' %>
  </div>
</div>
