<h1 class="text-center">Découvrez une collection au hasard !</h1>
<h4 class="text-right text-info">Collection de <%= @collection_owner_pseudo %></h4>
<% unless @collection_item.nil? %>
    <%= render template: "layouts/timeline" %>
<% end %>
