/*
Custom CSS here
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #595959;
    color: #ffffff;
}

#dd-menu-sort {
    padding-right: 20px !important;
}

.cover-image {
    padding-right: 0;
}

.album-details {
    list-style-type: none;
}

.metadata-header {
    font-weight: bold;
}

.metadata-header:after {
    content: ": ";
}

h4 a:hover {
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

a.btn-success, a.btn-primary {
    color: #ffffff;
}